<configuration>
  <system.webServer>  
    <rewrite>  
        <rules>  
            <rule name="Redirect www to root" stopProcessing="true">
                <match url=".*" ignoreCase="true" />
                <conditions>
                    <add input="{CACHE_URL}" pattern="^(.+)://www\.(.*)" />
                </conditions>
                <action type="Redirect" url="{C:1}://{C:2}" redirectType="Permanent" />
            </rule>
        </rules>  
    </rewrite>
  </system.webServer>  
</configuration>