<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
        <rule name="Redirect to www subdomain">
            <match url=".*" />
            <conditions logicalGrouping="MatchAll">
                <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" negate="true" />
                <add input="{SERVER_PROTOCOL}" pattern="^(.*)(/.*)?$"/>
            </conditions>
            <action type="Redirect" url="{C:1}://www.{HTTP_HOST}/{R:0}" redirectType="Permanent"/>
        </rule>
    </rewrite>
  </system.webServer>
</configuration>